@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AbcMoneyTransfer</h1>
   
    <p>
       Make your financial transactions more efficient and secure.
    </p>
    <p>
        <img src="/images/money.png" alt="Alternate Text" height="500" />
    </p>
</div>
